* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.navButtton {
  display: inline-block;
  padding: 20px;
}

.headerarea {
  display: flex;
  height: 500px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(142, 141, 143);
}
.pagelogo {
  align-content: flex-start;
}

.unorderdList {
  width: 100%;
}
.header {
  width: 100%;
  display: flexbox;
  text-align: right;
}
.navButtton {
  font-family: Open Sans;
  color: ivory;
  text-decoration: none;
}
.unorderdList {
  text-decoration: none;
}
.navButtton {
  margin-right: 55px;
}
.imagelogo {
  height: 120px;
  width: auto;
  padding: 0px;
  border: 0px;
}
a:-webkit-any-link {
  text-decoration: none;
}
a:hover {
  color: lawngreen;
}
a {
  color: ivory;
}
main {
  padding: 0px;
  margin: 0px;
}
.upperHeader {
  height: 0px;
  background-color: #053630;
  margin: 0px;
  padding: 0px;
}
h1 {
  padding: 0px;
  margin: 0px;
}
.logobig {
  display: flex;
}
div.header {
  position: relative;
  z-index: 0;
}
.compname {
  font-family: Roboto;
  font-size: 50px;
  position: relative;
  bottom: 270px;
  margin: 0px;
  padding: 20px;
  color: lightcyan;
  margin-left: 30px;
}
.footer {
  height: 200px;
  color: aqua;
  background-color: #22021f;
}
.blockchain {
  padding: 0px;
  margin: 0px;
  text-align: center;
  padding: 20px;
}
.subfooter {
  align-content: center;
}
.blockchain {
  font-family: Anton;
  font-size: 200px;
}
