* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.navButtton {
  display: inline-block;
  padding: 20px;
}

.headerarea {
  display: flex;
  height: 500px;
  margin: 0px;
  padding: 0px;
  background-color: blueviolet;
}
.pagelogo {
  align-content: flex-start;
}

.unorderdList {
  width: 100%;
}
.header {
  width: 100%;
  display: flexbox;
  text-align: right;
}
.navButtton {
  font-family: Open Sans;
  color: ivory;
  text-decoration: none;
}
.unorderdList {
  text-decoration: none;
}
.navButtton {
  margin-right: 55px;
}
.imagelogo {
  height: 120px;
  width: auto;
  padding: 0px;
  border: 0px;
}
a:-webkit-any-link {
  text-decoration: none;
}
a:hover {
  color: lawngreen;
}
a {
  color: ivory;
}
main {
  padding: 0px;
  margin: 0px;
}
.upperHeader {
  height: 300px;
  background-color: #010e22;
  margin: 0px;
  padding: 0px;
}
h1 {
  padding: 0px;
  margin: 0px;
}
.logobig {
  display: flex;
}
div.header {
  position: relative;
  z-index: 0;
}
.compname {
  font-family: Anton;
  font-size: 70px;
  position: relative;
  bottom: 270px;
  margin: 0px;
  padding: 0px;
  color: lightcyan;
  margin-left: 30px;
}
